[Desktop Entry]
Name=Bulk Rename
Comment=Rename Multiple Files
GenericName=Bulk Rename
Keywords=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Exec=thunar --bulk-rename %F
Icon=thunar.svg
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Core;GTK;Filesystem;
